{% extends "layout/block.njk" %}

{% block header %}
{% include 'components/admin-header.njk' %}
{% endblock %}

{% block body %}
<div class="posts-wrap">
    {% for post in list %}
    <div class="posts-item">
        <div class="posts-header">
            <div class="posts-title">{{loop.index}}. <a href="/item/?id={{post.id}}">{{post.title}}</a></div>
            <div class="posts-remove"><a href="/admin/posts/remove/?id={{post.id}}">删除</a></div>
        </div>
        <div class="posts-content">{{post.content}}</div>
    </div>
    {% endfor %}

    <div class="posts-add">
        <form action="/admin/posts/create" method="post">
            <label for="title">
                标题
                <input type="text" name="title" id="title">
            </label>
            <label for="content">
                内容
                <textarea id="content" name="content"></textarea>
            </label>
            <button type="submit">保存</button>
            <button type="reset">重置</button>
        </form>
    </div>
</div>
{% endblock %}
