<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/login.css">
  <title>登录</title>
</head>
<body>
<div class="login-bg">
 <div class="login-wrap">
   <h1 class="welcome">
     欢迎登录
   </h1>
   <form action="/login" method="post" class="login-info">
     <div class="login-info-input">
       <label for="username" >
         用户名
       </label>
       :
       <input type="text" name="username" placeholder="请输入用户名" id="username">
     </div>
     <div class="login-info-input">
       <label for="password" >
         密码
       </label>
       :
       <input type="password" name="password" placeholder="请输入密码" id="password">
     </div>
     <input type="submit" value="登录" class="login-in">
   </form>
 </div>
</div>
</body>
</html>
