<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
</head>
<body>
    <div>
    <div></div>
    <div>
        <div>个人信息</div>
        <div>
            
        </div>
        <div></div>
    </div>
        {{userInfo.userName}}
        {{userInfo.city}}
        {{userInfo.job}}
        <img src={{userInfo.avatar}} />
        {{userInfo.articleNumber}}
        {{userInfo.classification}}
        {{userInfo.tag}}
    </div>
</body>
</html>
