{% extends "layout/block.njk" %}
{% block body%}
<div class="main">
    <div class="card list-wrap">
        {% for item in list %}
        <div class="archive-wrap">
            <div class="archive-item">
                <div class="active-left">
                    <div class="archive-point"></div>
                    <div class="archive-title">{{item.title}}</div>
                </div>
                <div class="archive-time">{{item.createTime}}</div>
            </div>
<!--            <div class="archive-total">-->
<!--                <div class="archive-avatar">{{userInfo.avatar}}</div>-->
<!--                <div class="archive-month">三月</div>-->
<!--            </div>-->
        </div>
        {% endfor %}
    </div>
    <div>
        {% include "userInfo/userInfo.njk" %}
        {% include "allTags/allTags.njk" %}
    </div>
</div>

{% endblock %}
