{% extends "layout/block.njk" %}
{% block body%}
    <div>
        {% for item in list %}
        <div class="blog-list">
            <div class="blog-title"><a class="" href="/item/{{item.id}}">{{ item.title }}</a></div>
            <div class="blog-content">{{item.content}}</div>
            <div class="blog-info">
                <div class="blog-info-item">{{item.tag}}</div>
                <div class="blog-info-item">{{item.createTime}}</div>
                <div class="blog-info-item">{{item.pageViews}}次浏览</div>
            </div>
        </div>
        {% endfor %}
        {% include "userInfo/userInfo.njk" %}
    </div>
{% endblock %}
