<header class="admin-header">
    <h2 class="admin-header-title">博客后台管理</h2>
    <ul class="admin-header-right">
        <li class="admin-articleManagement"><a href="/admin/admin">文章管理</a></li>
        <li class="admin-blog-setting"><a href="/admin/posts">博客设置</a></li>
    </ul>
</header>