<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div>
  {% if state %}
  <div>登录成功</div>
  {% else %}
  <div>登录失败, 3s后退出</div>
  <script>
    setTimeout(() => {
      history.go(-1)
    },3000)
  </script>
  {% endif %}
</div>
</body>
</html>
